<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Master Challenge</title>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="{{ url_for('static',filename='/css/main.css') }}" rel="stylesheet">
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
  <div id='layout'>
    <div id='container'>
      <svg></svg>
    </div>
  </div>
  {% block javascript %}
  <script src="{{ url_for('static',filename='/js/bar_chart_static.js') }}"></script>
  {% endblock %}
</body>
</html>